<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0">

	<p class="mdl-layout-title">Central de Logs</p>

		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
				</li>
		</ul>
</nav>
