/*
*= require bootstrap
*/

.navbar-inverse {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

p.mdl-layout-title {
  text-align: center;
  padding-top: 26px;
  display: block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400; /* Intensidade da cor da fonte*/
  box sizing: border-box;
  color: #fff;

}

.btn-primary {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.btn-default {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.btn-block {
    width: 4%;
}

.titulo-card {
    padding: 10px;
    font-size: 19px;
    letter-spacing: 0 !important;
    font-weight: 300;
    color: #3f51b5;
}

.card-home {
    border-bottom: 1px solid #3f51b5;
}

.input-group .form-control {
    width: 250px;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: -webkit-box;
}

.form-control {
  width: 25%

}
